Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{DOCUMENT_ROOT}/api/$1.php -f
  RewriteRule ^api/([^/.]+)$ api/$1.php [L,QSA]

  RewriteRule ^api(/.*)?$ - [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
